
* {
    -fx-light-green: #009688;
    -fx-faded-green: rgba(0, 150, 136, 0.73);
    -fx-off-white: #a8b7b9;
    -fx-light-dark: #304045;
    -fx-button-ripple: rgba(162, 176, 178, 0.67);
    -fx-button-hover: rgba(48, 63, 69, 0.69);
    -color-light-grey: #B2CCD6;
    -color-medium-grey: #3e4349;
    -color-grey: #373b41; /*  Background/Base  */
    -color-very-dark-grey: #263238;/*  Hover  */
    -color-teal: #009688;/*  Selected  */
    -accent-strong-blue: #4da8f5;
}


.accent-background.anchor-pane,
.accent-background.split-pane
{
    -fx-background-color: -color-grey, -fx-control-inner-background;
}
.accent-background
{
    -fx-background-color: -color-grey;
}
.background
{
    -fx-background-color: -color-grey;
}
.jfx-button
{
    -fx-background-color: transparent;
}

.jfx-button .jfx-rippler
{
    -jfx-rippler-fill: -fx-button-ripple;
}


.split-pane .split-pane-divider
{
    -fx-background-color:  -color-medium-grey;
    -fx-border-color: -color-medium-grey;
}


.mui-gutter-button
{
    -fx-background-color: rgb(240, 240, 240);
    -fx-breakpoint-fill: rgb(101, 126, 189);
    -fx-font: 13.0 "Roboto Medium";
}

.mui-text-field
{
    -fx-text-fill: -fx-off-white;
    -fx-prompt-text-fill: rgba(168, 183, 185, 0.65);
    -jfx-focus-color: #009688;
    -jfx-unfocus-color: rgba(0, 150, 136, 0.73);
}

/*******************************************************************************
 *                                                                             *
 *                         Menu Bar/Menu Bar Buttons                           *
 *                                                                             *
 ******************************************************************************/

.mui-menu-bar
{
    -fx-background-color: -color-grey;
}

.mui-menu-bar .mui-context-item
{
    -fx-text-fill: -fx-off-white;
}

.mui-menu-bar .right .mui-context-item .jfx-rippler
{
    -jfx-rippler-fill: -fx-button-ripple;
}
.mui-menu-bar .right .mui-context-item .ikonli-font-icon
{
    -fx-icon-color: -fx-off-white;
}

.mui-menu-bar .mui-menu-item .jfx-rippler
{
    -jfx-rippler-fill: -fx-button-ripple;
}

/*******************************************************************************
 *                                                                             *
 *                                 MUITabPane                                  *
 *                                                                             *
 ******************************************************************************/

.mui-tab-pane .mui-tab-bar .mui-tab .jfx-rippler
{
    -jfx-rippler-fill: -fx-button-ripple;
}
.mui-tab-bar .indicator
{
    -fx-background-color: -fx-light-green;
}
.mui-tab-pane .mui-tab-bar
{
    -fx-background-color: -color-grey;
}
.mui-tab-bar .left,
.mui-tab-bar .right
{
    -fx-background-color: transparent;
}

.mui-tab-bar .left .mui-icon-button .ikonli-font-icon,
.mui-tab-bar .right .mui-icon-button .ikonli-font-icon,
.navigator-tab-pane .mui-tab .ikonli-font-icon
{
    -fx-icon-color: -fx-off-white;
}
.mui-tab-pane .mui-tab-bar .mui-tab
{
    -fx-text-fill: rgba(255, 255, 255, 0.7);
}

.mui-tab-pane .mui-tab-bar .mui-tab:selected
{
    -fx-text-fill: -fx-off-white;
}


/*******************************************************************************
 *                                                                             *
 *                                ScrollBar                                    *
 *                                                                             *
 ******************************************************************************/
.scroll-bar
{
    -fx-background-color: -color-grey;
}
.scroll-bar:horizontal .track,
.scroll-bar:vertical .track
{
    -fx-background-color: -color-grey;
}
.scroll-bar:vertical .track-background,
.scroll-bar:horizontal .track-background
{
    -fx-background-color: -color-grey;
}
.scroll-bar:horizontal .thumb
{
    -fx-background-color: -color-teal;
}
.scroll-bar:vertical .thumb
{
    -fx-background-color: -color-teal;
}
.scroll-bar:horizontal .thumb:hover,
.scroll-bar:vertical .thumb:hover
{
    -fx-background-color: -color-teal;
}
.scroll-bar:horizontal .thumb:pressed,
.scroll-bar:vertical .thumb:pressed
{
    -fx-background-color: -color-teal;
}
.scroll-bar:vertical:focused,
.scroll-bar:horizontal:focused
{
    -fx-background-color: -fx-box-border,-color-grey;
}
.scroll-pane
{
    -fx-background: -color-grey;
    -fx-background-color: -color-grey;
}

/*******************************************************************************
 *                                                                             *
 *                                  TreeViews                                  *
 *                                                                             *
 ******************************************************************************/

.tree-view
{
    -fx-background-color: -color-grey, -fx-control-inner-background;
}
.tree-view .tree-cell
{
    -fx-background-color: -color-grey;
    -fx-text-fill: -fx-off-white;
    -fx-font: 14px "Roboto Medium";
    -fx-border-color: -color-grey;
}

.tree-view .tree-cell:selected
{
    -fx-background-color: -fx-box-border,-color-very-dark-grey;
}

.tree-view .tree-cell:hover,
.tree-view .tree-cell:highlighted:hover
{
    -fx-background-color: -fx-box-border, -fx-light-dark;
}

.tree-cell .tree-disclosure-node .arrow
{
    -fx-background-color: -fx-mark-highlight-color, -fx-off-white;
}

.tree-cell:filled:hover .tree-disclosure-node .arrow
{
    -fx-background-color: -fx-mark-highlight-color, white;
}

.tree-view .corner
{
    -fx-background-color: -color-grey;
    -fx-border-color: -color-grey;
    -fx-background: -color-grey;
}

.tree-view .tree-cell:filled:focused:selected,
.tree-view .tree-cell:filled:focused:selected:hover,
.tree-view .tree-cell:filled:selected:hover,
.tree-view .tree-cell:filled:focused:hover
{
    -fx-background-color: -fx-box-border, -color-very-dark-grey;
}

.tree-view .tree-cell:empty:hover,
.tree-view .tree-cell:empty
{
    -fx-background-color: -color-grey;
}

/*******************************************************************************
 *                                                                             *
 *                               FileTreeView                                  *
 *                                                                             *
 ******************************************************************************/

.file-tree-view
{
    -fx-background-color: -color-grey, -fx-control-inner-background;
}
.file-tree-view .tree-cell
{
    -fx-background-color: -color-grey;
    -fx-text-fill: -fx-off-white;
    -fx-font: 14px "Roboto Medium";
    -fx-border-color: -color-grey;
}

.file-tree-view .tree-cell:selected
{
    -fx-background-color: -fx-box-border,-color-very-dark-grey;
}


.file-tree-view .tree-cell:hover,
.file-tree-view .tree-cell:highlighted:hover
{
    -fx-background-color: -fx-box-border, -fx-light-dark;
}

.file-tree-view .tree-cell .tree-disclosure-node .arrow
{
    -fx-background-color: -fx-mark-highlight-color, -fx-off-white;
}

.file-tree-view .tree-cell:filled:hover .tree-disclosure-node .arrow
{
    -fx-background-color: -fx-mark-highlight-color, white;
}

.file-tree-view .corner
{
    -fx-background-color: -color-grey;
    -fx-border-color: -color-grey;
    -fx-background: -color-grey;
}

.file-tree-view .tree-cell:filled:focused:selected,
.file-tree-view .tree-cell:filled:focused:selected:hover,
.file-tree-view .tree-cell:filled:selected:hover,
.file-tree-view .tree-cell:filled:focused:hover
{
    -fx-background-color: -fx-box-border, -color-very-dark-grey;
}

.file-tree-view .tree-cell:empty:hover,
.file-tree-view .tree-cell:empty
{
    -fx-background-color: -color-grey;
}

.navigator-tab-pane .file-tree-view .ikonli-font-icon
{
    -fx-icon-size: 23px;
    -fx-icon-color: -fx-off-white;
}

/*******************************************************************************
 *                                                                             *
 *                    Gutter Buttons / Line Number Buttons                     *
 *                                                                             *
 ******************************************************************************/
.mui-gutter-button
{
    -fx-background-color: -color-grey;
    -fx-breakpoint-fill: -fx-light-green;
    -fx-font: 14.0 "Roboto Black";
    -fx-border-width: 0 1 0 0;
    -fx-border-style: solid;
    -fx-border-color: -fx-faded-green;
}
.mui-gutter-button .label
{
    -fx-text-fill: -fx-off-white;
}

/*******************************************************************************
 *                                                                             *
 *                                 Terminal                                    *
 *                                                                             *
 ******************************************************************************/

.terminal
{
    -fx-font: 15 Monospaced;
    -fx-font-color:  -fx-off-white;
    -fx-background-color: -color-grey;
    -fx-caret-color: -fx-off-white;
}

/*******************************************************************************
 *                                                                             *
 *                                 Settings                                    *
 *                                                                             *
 ******************************************************************************/
.settings-page,
.settings-page .anchor-pane,
.settings-page .scroll-pane
{
    -fx-background-color: -color-grey;
    -fx-background: -color-grey;
}
.settings-section-label
{
    -fx-text-fill: -fx-off-white;
    -fx-font-family: "Roboto Bold";
    -fx-font-size: 24px;
}
.settings-subsection-label
{
    -fx-text-fill: -fx-off-white;
    -fx-font-family: "Roboto Medium";
    -fx-font-size: 20px;
}

.settings-section
{
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.5), 10.0, 0.0, 2, 3.0);
    -fx-background-color: #4e545c;
    -fx-background-radius: 3px;
}

.settings-item
{
    -fx-border-width: 0px 0px 1px 0px;
    -fx-border-color: -fx-off-white;
}

.setting-name-label
{
    -fx-font-family: "Roboto";
    -fx-text-fill: -fx-off-white;
}

.mui-light-button
{
    -fx-font-family: "Roboto Black";
    -fx-text-fill: -fx-off-white;
    -fx-border-color: rgba(168, 183, 185, 0.25);
}
.mui-light-button:hover
{
    /*-fx-background-color: -color-grey;*/
    -fx-border-color: -fx-light-green;
}
.settings-header-pane
{
    -fx-background-color: -color-medium-grey;
}

.settings-header
{
    -fx-font-family: "Roboto";
    -fx-font-size: 20px;
    -fx-text-fill: -fx-off-white;
}

.settings-page .ikonli-font-icon
{
    -fx-icon-size: 20px;
    -fx-icon-color: -fx-off-white;
}

.settings-page .mui-tab-bar .mui-tab
{
    -fx-background-color: transparent;
    -fx-font-family: "Roboto Bold";
    -fx-font-size: 14px;
    -fx-text-fill: -fx-off-white;
    -fx-pref-width: 110px;
}

.settings-page .mui-tab-bar .indicator
{
    -fx-background-color: -fx-light-green;
}

/*******************************************************************************
 *                                                                             *
 *                               AutoCompletion                                *
 *                                                                             *
 ******************************************************************************/

.auto-completion-dialog
{
    -fx-background: -color-medium-grey;
    -fx-background-color: -color-medium-grey;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.8), 10.0, 0.0, 2.0, 3.0);
}
.auto-completion-dialog .label
{
    -fx-text-fill: -fx-off-white;
}
.auto-completion-dialog .list-cell
{
    -fx-background-color: -color-medium-grey;
}
.auto-completion-dialog .list-cell:selected:focused
{
    -fx-background-color: #494e55;
    -fx-background: #494e55;
}

.auto-completion-dialog .list-cell:selected:focused .label
{
    -fx-text-fill: -fx-off-white;
}

/*******************************************************************************
 *                                                                             *
 *                                  ComboBox                                   *
 *                                                                             *
 ******************************************************************************/

.combo-box-popup .list-view
{
    -fx-background-color: transparent;
    -fx-border-style: none;
    -fx-border-width: 0px;
}

.combo-box .jfx-rippler
{
    -jfx-rippler-fill: rgba(137, 149, 151, 0.82);
}
.combo-box
{
    -fx-background-color: -color-medium-grey;
}
.combo-box .cell
{
    -fx-text-fill: -fx-off-white;
}

.combo-box .combo-box-popup .list-cell:focused
{
    -fx-background-color: #555d64;
    -fx-text-fill: -fx-off-white;
}
.combo-box .combo-box-popup .list-cell:hover
{
    -fx-background-color: #474e54;
    -fx-text-fill: -fx-off-white;
}
.combo-box .combo-box-popup .list-cell
{
    -fx-background-color: -color-medium-grey;
    -fx-text-fill: -fx-off-white;
}
/*******************************************************************************
 *                                                                             *
 *                           Editor Context Menu                               *
 *                                                                             *
 ******************************************************************************/

.editor-context-menu.mui-context-menu
{
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.6), 15.0, 0.0, 1.5, 2.0);
    -fx-background-color: -color-medium-grey;
    -fx-background-radius: 3px;
    -fx-pref-width: 140.0;
}

.editor-context-menu.mui-context-menu .mui-context-item
{
    -fx-text-fill: -fx-off-white;
    -fx-alignment: center-left;
    -fx-font-size: 14px;
    -fx-font-family: "Roboto Medium";
    -fx-padding: 10px 15px;
    -fx-pref-width: 140.0;
}
.editor-context-menu.mui-context-menu .mui-context-item .ikonli-font-icon
{
    -fx-icon-size: 12px;
    -fx-text-alignment: left;
    -fx-alignment: center-left;
    -fx-icon-color: -fx-off-white;
}
.editor-context-menu.mui-context-menu .mui-context-item:hover
{
    -fx-background-color: #494e55;
}
.editor-context-menu.mui-context-menu .mui-context-item.mui-menu .ikonli-font-icon
{
    -fx-translate-x: 110px;
}

/*******************************************************************************
 *                                                                             *
 *                              Navigator Menu                                 *
 *                                                                             *
 ******************************************************************************/

.navigator-context-menu.mui-context-menu
{
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.6), 15.0, 0.0, 1.5, 2.0);
    -fx-background-color: -color-medium-grey;
    -fx-background-radius: 3px;
    -fx-pref-width: 175.0;
}


.navigator-context-menu.mui-context-menu .mui-context-item
{
    -fx-background-color: transparent;
    -fx-text-fill: -fx-off-white;
    -fx-alignment: center-left;
    -fx-font-size: 14px;
    -fx-font-family: "Roboto Medium";
    -fx-padding: 10px 15px;
    -fx-pref-width: 175.0;
}
.navigator-context-menu.mui-context-menu .mui-context-item .ikonli-font-icon
{
    -fx-icon-size: 12px;
    -fx-text-alignment: left;
    -fx-alignment: center-left;
    -fx-icon-color: -fx-off-white;
}
.navigator-context-menu.mui-context-menu .mui-context-item:hover
{
    -fx-background-color: #494e55;
}
.navigator-context-menu.mui-context-menu .mui-context-item.mui-menu .ikonli-font-icon
{
    -fx-translate-x: 100px;
}

.navigator-context-menu.mui-sub-menu
{
    -fx-pref-width: 120.0;
}


.navigator-tab-pane .mui-tab-bar
{
    /* Background of the tabs */
    -fx-background-color: -color-grey;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.7), 10, 0, 0, 2);
}

/*******************************************************************************
 *                                                                             *
 *                          Editor Tab Context Menu                            *
 *                                                                             *
 ******************************************************************************/

.editor-tab-menu.mui-context-menu
{
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.6), 15.0, 0.0, 1.5, 2.0);
    -fx-background-color: -color-medium-grey;
    -fx-background-radius: 3px;
    -fx-pref-width: 140.0;
}


.editor-tab-menu.mui-context-menu .mui-context-item
{
    -fx-text-fill: -fx-off-white;
    -fx-alignment: center-left;
    -fx-font-size: 14px;
    -fx-font-family: "Roboto Medium";
    -fx-padding: 10px 0px 10px 15px;
    -fx-pref-width: 175.0;
}
.editor-tab-menu.mui-context-menu .mui-context-item .ikonli-font-icon
{
    -fx-icon-size: 14px;
    -fx-text-alignment: left;
    -fx-alignment: center-left;
    -fx-icon-color: -fx-off-white;
}
.editor-tab-menu.mui-context-menu .mui-context-item:hover
{
    -fx-background-color: #494e55;
}
.editor-tab-menu.mui-context-menu .mui-context-item .ikonli-font-icon
{
    /*-fx-translate-x: -10px;*/
}


/*******************************************************************************
 *                                                                             *
 *                          Menu Bar Context Menu                              *
 *                                                                             *
 ******************************************************************************/

.application-context-menu
{
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.6), 15.0, 0.0, 1.5, 2.0);
    -fx-background-color: -color-medium-grey;
    -fx-background-radius: 3px;
    -fx-pref-width: 140.0;
}


.application-context-menu .mui-context-item
{
    -fx-pref-width: 140.0;
}

.mui-menu-bar .mui-context-item,
.application-context-menu .mui-context-item
{
    -fx-background-color: transparent;
    -fx-text-fill: -fx-off-white;
    -fx-alignment: center-left;
    -fx-font-size: 14px;
    -fx-font-family: "Roboto Medium";
    -fx-padding: 10px 15px;
}
.mui-menu-bar .left .mui-context-item
{
    -fx-font-family: "Roboto Regular";
    -fx-font-size: 13px;
    -fx-padding: 5px 10px;
}


.mui-menu-bar .right .mui-context-item .ikonli-font-icon
{
    -fx-icon-size: 17px;

}

.mui-menu-bar .right .mui-context-item
{
    /*-fx-padding: 8px 10px;*/
    -fx-background-radius: 50%;
    /*-fx-padding: 10px 11px;*/
    -fx-pref-width: 33px;
    -fx-pref-height: 33px;
    -fx-padding: 7px 0px;
    -fx-alignment: center;
}

.mui-menu-bar .right .mui-context-item .jfx-rippler
{
    -jfx-rippler-fill: -fx-button-ripple;
}

.application-context-menu .mui-context-item .ikonli-font-icon
{
    -fx-icon-size: 12px;
    -fx-text-alignment: left;
    -fx-alignment: center-left;
    -fx-icon-color: -fx-off-white;
}
.application-context-menu .mui-context-item:hover,
.mui-menu-bar .left .mui-context-item:hover,
.mui-menu-bar .right .mui-context-item:hover
{
    -fx-background-color: #494e55;
}
.application-context-menu .mui-context-item.mui-menu .ikonli-font-icon
{
    -fx-translate-x: 70px;
    -fx-icon-color: -fx-off-white;
}



/*******************************************************************************
 *                                                                             *
 *                                  Modal                                      *
 *                                                                             *
 ******************************************************************************/

.mui-modal
{
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.5), 30.0, 0.0, 1.5, 2.0);
    -fx-background-color: #464b52;
}

.mui-modal .title
{
    -fx-text-fill: -fx-off-white;
}

.mui-modal .message
{
    -fx-text-fill: -fx-off-white;
}

.mui-modal .primary,
.mui-modal .secondary,
.mui-modal .destructive
{
    -fx-background-color: transparent;
    -fx-font-family: "Raleway Black", sans-serif;
    -fx-text-fill: -fx-off-white;
}
.mui-modal .primary:hover,
.mui-modal .secondary:hover
{
    -fx-background-color: #565c64;
}

.mui-modal .destructive
{
    -fx-text-fill: #d2d2d2;
    -fx-background-color: rgb(215, 76, 50);
}
.mui-modal .destructive:hover
{
    -fx-background-color: rgb(215, 87, 63);
}

.mui-modal .destructive .ikonli-font-icon
{
    -fx-icon-color: -fx-off-white;
}

.mui-modal .ikonli-font-icon.error-icon
{
    -fx-icon-color: rgb(215, 87, 63);
}
.mui-modal .ikonli-font-icon.warning-icon
{
    -fx-icon-color: rgb(135, 255, 126);
}

/*******************************************************************************
 *                                                                             *
 *                              Editor Tab Pane                                *
 *                                                                             *
 ******************************************************************************/

.editor-tab-pane
{
    /* Background of tab bar */
    /*-fx-background-color: -color-grey;*/
}
.editor-tab-pane.mui-tab-pane  .mui-tab-bar
{
    /* Background of the tabs */
    -fx-background-color: -color-grey;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.7), 10, 0, 0, 2);
}
.editor-tab-pane .indicator
{
    /* Color of line under selected tab */
    -fx-background-color: -fx-light-green;
}

.editor-tab-pane .mui-tab-bar .mui-tab
{
    -fx-background-color: transparent;
}

.editor-tab-pane .mui-tab-bar .mui-tab .jfx-rippler
{
    /* Color of ripple */
    -jfx-rippler-fill: -fx-button-ripple;
}
.editor-tab-pane .mui-tab-bar .left,
.editor-tab-pane .mui-tab-bar .right
{
    -fx-background-color: -color-grey;
}
.editor-tab-pane .mui-tab-bar .left .mui-icon-button .ikonli-font-icon,
.editor-tab-pane .mui-tab-bar .right .mui-icon-button .ikonli-font-icon
{
    -fx-icon-color: -fx-off-white;
}
.editor-tab-pane .mui-tab-bar .mui-tab
{
    -fx-text-fill: -fx-faded-green;
}

.editor-tab-pane .mui-tab-bar .mui-tab:selected
{
    -fx-text-fill: -fx-light-green;
}

.editor-tab-pane .mui-tab-bar .left .mui-icon-button .jfx-rippler,
.editor-tab-pane .mui-tab-bar .right .mui-icon-button .jfx-rippler
{
    -jfx-rippler-fill: -fx-button-ripple;
}



/*******************************************************************************
 *                                                                             *
 *                                Color Picker                                 *
 *                                                                             *
 ******************************************************************************/

.mui-color-picker
{
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.8), 10.0, 0.0, 1.0, 2.0);
    -fx-background-color: -color-medium-grey;
}

.sl-color-chooser .sl-chooser-knob
{
    -fx-border-color: white;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.7), 10.0, 0.0, 1.0, 2.0);
}

.hsl-color-picker .slider.opacity .thumb,
.hsl-color-picker .slider.hue .thumb
{
    -fx-background-color: transparent;
    -fx-border-color: white;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.7), 10.0, 0.0, 1.0, 2.0);
}



.mui-color-picker .mui-picker-button
{
    /*-fx-font-family: "Roboto Black", sans-serif;*/
    /*-fx-font-size: 14px;*/
    -fx-text-fill: -fx-off-white;
    -fx-font: 13.0 "Roboto Black";
}

.mui-color-picker .mui-picker-button:hover
{
    -fx-background-color: #494e55;
    -fx-text-fill: -color-light-grey;
}

.mui-color-picker .mui-tab-bar .tab-selected-line
{   /* Color of line under selected tab */
    -fx-background-color: -fx-light-green;
}



.mui-color-picker .mui-tab-bar .mui-tab .jfx-rippler
{
    -jfx-rippler-fill: -fx-button-ripple;
}
.mui-color-picker .mui-tab-bar .indicator
{
    -fx-background-color: -fx-light-green;
}
.mui-color-picker .mui-tab-bar .mui-tab
{
    -fx-text-fill: -fx-faded-green;
}

.mui-color-picker .mui-tab-bar .ikonli-font-icon
{
    -fx-icon-color: -fx-off-white;
}

.mui-color-picker .mui-tab-bar .mui-tab:selected
{
    -fx-text-fill: -fx-light-green;
}
.color-slider-pane .text-field
{

}

.color-slider-pane .jfx-slider
{

}