

* {
    button-ripple: rgba(0, 0, 0, 0.4);
    hover-color: rgba(0, 0, 0, 0.1);
    selected-color: rgba(0, 0, 0, 0.3);
}



/*******************************************************************************
 *                                                                             *
 *                                  Menu Bar                                   *
 *                                                                             *
 ******************************************************************************/
.mui-menu-bar .mui-menu-button
{
    -fx-text-color: white;
    -fx-icon-color: white;
    -fx-font: 13 "Roboto Black";
}
.mui-menu-bar
{
    -fx-background-color: cornflowerblue;
}

.application-context-menu
{
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.7), 10.0, 0.0, 1.5, 2.0);
    -fx-background-radius: 3px;
    -fx-background-color: white;
    -fx-pref-width: 150.0;
}


.mui-menu-bar .mui-context-item
{
    -fx-text-fill: white;
    -fx-alignment: center-left;
    -fx-font-size: 15px;
    -fx-font-family: "Roboto Black";
    -fx-padding: 10px 15px;
}

.application-context-menu .mui-context-item
{
    -fx-text-fill: rgb(25, 25, 25);
    -fx-alignment: center-left;
    -fx-font-size: 15px;
    -fx-font-family: "Roboto Medium";
    -fx-padding: 10px 20px;
    -fx-pref-width: 150.0;
}
.application-context-menu.view .check-item .ikonli-font-icon
{
    -fx-translate-x: 20px;
}

.application-context-menu .mui-context-item .ikonli-font-icon
{
    -fx-icon-size: 16px;
    -fx-text-alignment: left;
    -fx-alignment: center-left;
    /*-fx-icon-color: rgb(100, 100, 100);*/
    -fx-icon-color: rgba(0, 0, 0, 0.54);
    -fx-translate-x: -10px;
}



.mui-menu-bar .left .mui-context-item
{
    -fx-font-family: "Roboto Black";
    -fx-font-size: 13px;
    /*-fx-padding: 5px 10px;*/
    -fx-padding: 7px 13px;
}

.mui-menu-bar .right .mui-context-item .ikonli-font-icon
{
    -fx-icon-size: 17px;
    -fx-icon-color: white;
}

.mui-menu-bar .right .mui-context-item
{
    -fx-background-radius: 50%;
    -fx-padding: 7px 8px;
    -fx-pref-width: 20px;
    -fx-pref-height: 20px;
}

.mui-menu-bar .right .mui-context-item .jfx-rippler
{
    -jfx-rippler-fill: white;
}


.application-context-menu .mui-context-item:hover,
.mui-menu-bar .left .mui-context-item:hover,
.mui-menu-bar .right .mui-context-item:hover
{
    -fx-background-color: hover-color;
}
.application-context-menu .mui-context-item.mui-menu .ikonli-font-icon
{
    -fx-translate-x: 50px;
}

/*******************************************************************************
 *                                                                             *
 *                           Editor Context Menu                               *
 *                                                                             *
 ******************************************************************************/

.editor-context-menu.mui-context-menu
{
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.8), 15.0, 0.0, 1.5, 2.0);
    -fx-background-color: white;
    -fx-background-radius: 3px;
    -fx-pref-width: 150.0;
}


.editor-context-menu.mui-context-menu .mui-context-item
{
    -fx-text-fill: black;
    -fx-alignment: center-left;
    -fx-font-size: 14px;
    -fx-font-family: "Roboto Medium";
    -fx-padding: 10px 15px;
    -fx-pref-width: 150.0;
}
.editor-context-menu.mui-context-menu .mui-context-item .ikonli-font-icon
{
    -fx-icon-size: 12px;
    -fx-text-alignment: left;
    -fx-alignment: center-left;
}
.editor-context-menu.mui-context-menu .mui-context-item:hover
{
    -fx-background-color: hover-color;
}
.editor-context-menu.mui-context-menu .mui-context-item.mui-menu .ikonli-font-icon
{
    -fx-translate-x: 90px;
}


/*******************************************************************************
 *                                                                             *
 *                            Navigator Tab Pane                               *
 *                                                                             *
 ******************************************************************************/

.navigator-tab-pane
{
    -fx-background-color: cornflowerblue;
}
.navigator-tab-pane .headers-region
{
    /* Background of tab bar */
    -fx-background-color: cornflowerblue;
}
.navigator-tab-pane .tab-header-background
{
    /* Background of the tabs */
    -fx-background-color: cornflowerblue;
}
.navigator-tab-pane .tab-selected-line
{   /* Color of line under selected tab */
    /*-fx-background-color: -fx-light-green;*/
}

.navigator-tab-pane .tab-header-area .jfx-rippler
{
    /* Color of ripple */
    -jfx-rippler-fill: button-ripple;
}

.navigator-tab-pane .tab
{
    -fx-pref-width: 110px;
    -fx-pref-height: 40px;
}

.navigator-tab-pane .ikonli-font-icon
{
    -fx-icon-size: 23px;
    -fx-icon-color: white;
}

.navigator-tab-pane .tab .tab-label
{
    -fx-text-fill: white;
}

.navigator-tab-pane .tab:selected .tab-label
{
    -fx-text-fill: white;
}

/*******************************************************************************
 *                                                                             *
 *                              Navigator Menu                                 *
 *                                                                             *
 ******************************************************************************/

.navigator-context-menu.mui-context-menu
{
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.6), 15.0, 0.0, 1.5, 2.0);
    -fx-background-color: white;
    -fx-background-radius: 3px;
    -fx-pref-width: 170.0;
}


.navigator-context-menu.mui-context-menu .mui-context-item
{
    -fx-text-fill: rgb(25, 25, 25);
    -fx-alignment: center-left;
    -fx-font-size: 14px;
    -fx-font-family: "Roboto Bold";
    /*-fx-padding: 10px 20px;*/
    -fx-padding: 10px 0px 10px 10px;
    -fx-pref-width: 170.0;
}
.navigator-context-menu.mui-context-menu .mui-context-item .ikonli-font-icon
{
    -fx-icon-size: 16px;
    -fx-text-alignment: left;
    -fx-alignment: center-left;
    /*-fx-icon-color: rgb(100, 100, 100);*/
    -fx-icon-color: rgba(0, 0, 0, 0.54);
    -fx-translate-x: 0px;
}
.navigator-context-menu.mui-context-menu .mui-context-item:hover
{
    -fx-background-color: hover-color;
}
.navigator-context-menu.mui-context-menu .mui-context-item.mui-menu .ikonli-font-icon
{
    -fx-translate-x: 100px;
}

.navigator-context-menu.mui-sub-menu
{
    -fx-pref-width: 120.0;
}

/*******************************************************************************
 *                                                                             *
 *                              Editor Tab Pane                                *
 *                                                                             *
 ******************************************************************************/

.editor-tab-pane  .mui-tab-bar
{
    /* Background of the tabs */
    -fx-background-color: cornflowerblue;
}
.editor-tab-pane .indicator
{
    /* Color of line under selected tab */
    -fx-background-color: rgb(225, 0, 80);
}

/*.editor-tab-pane .mui-tab-bar .mui-tab .jfx-rippler*/
/*{*/
    /*!* Color of ripple *!*/
    /*-jfx-rippler-fill: -fx-button-ripple;*/
/*}*/
.editor-tab-pane .mui-tab-bar .left,
.editor-tab-pane .mui-tab-bar .right
{
    -fx-background-color: cornflowerblue;
}
.editor-tab-pane .mui-tab-bar .left .mui-icon-button .ikonli-font-icon,
.editor-tab-pane .mui-tab-bar .right .mui-icon-button .ikonli-font-icon
{
    -fx-icon-color: white;
}
.editor-tab-pane .mui-tab
{
    -fx-text-fill: rgba(255, 255, 255, 0.7);
}

.editor-tab-pane .mui-tab:selected
{
    -fx-text-fill: white;
}

.editor-tab-pane .mui-tab-bar .left .mui-icon-button .jfx-rippler,
.editor-tab-pane .mui-tab-bar .right .mui-icon-button .jfx-rippler
{
    -jfx-rippler-fill: #bababa;
}



/*******************************************************************************
 *                                                                             *
 *                                 SplitPane                                   *
 *                                                                             *
 ******************************************************************************/

.split-pane .split-pane-divider
{
    -fx-background-color:  cornflowerblue;
    -fx-border-color: cornflowerblue;
    -fx-padding: 0.001em;
}


.accent-background.anchor-pane,
.accent-background.split-pane
{
    -fx-background-color: cornflowerblue, -fx-control-inner-background;
}
.accent-background
{
    -fx-background-color: cornflowerblue;
}
.background
{
    -fx-background-color: white;
}




/*!********************************************************************************/
 /**                                                                             **/
 /**                                  TreeViews                                  **/
 /**                                                                             **/
 /*******************************************************************************!*/

/*.tree-view*/
/*{*/
    /*-fx-background-color: white, -fx-control-inner-background;*/
/*}*/
/*.tree-view .tree-cell*/
/*{*/
    /*-fx-background-color: white;*/
    /*-fx-text-fill: black;*/
    /*-fx-font: 14px "Roboto Medium";*/
    /*-fx-border-color: white;*/
/*}*/

/*.tree-view .tree-cell:selected*/
/*{*/
    /*-fx-background-color: -fx-box-border, rgba(0, 0, 0, 0.4);*/
/*}*/


/*.tree-view .tree-cell:hover,*/
/*.tree-view .tree-cell:highlighted:hover*/
/*{*/
    /*-fx-background-color: -fx-box-border, rgba(0, 0, 0, 0.1);*/
/*}*/

/*.tree-cell .tree-disclosure-node .arrow*/
/*{*/
    /*-fx-background-color: -fx-mark-highlight-color, rgb(100, 100, 100);*/
/*}*/

/*.tree-cell:filled:hover .tree-disclosure-node .arrow*/
/*{*/
    /*-fx-background-color: -fx-mark-highlight-color, rgb(100, 100, 100);*/
/*}*/

/*.tree-view .corner*/
/*{*/
    /*-fx-background-color: white;*/
    /*-fx-border-color: white;*/
    /*-fx-background: white;*/
/*}*/

/*.tree-view .tree-cell:filled:focused:selected,*/
/*.tree-view .tree-cell:filled:focused:selected:hover,*/
/*.tree-view .tree-cell:filled:selected:hover,*/
/*.tree-view .tree-cell:filled:focused:hover*/
/*{*/
    /*-fx-background-color: -fx-box-border, rgba(0, 0, 0, 0.4);*/
/*}*/

/*.tree-view .tree-cell:empty:hover,*/
/*.tree-view .tree-cell:empty*/
/*{*/
    /*-fx-background-color: white;*/
/*}*/




/*******************************************************************************
 *                                                                             *
 *                                  Modal                                      *
 *                                                                             *
 ******************************************************************************/

.mui-modal
{
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.6), 30.0, 0.0, 1.5, 2.0);
    -fx-background-color: white;
    -fx-background-radius: 5px;
}

.mui-modal .title
{
    -fx-font-family: "Raleway Bold", sans-serif;
    -fx-font-size: 21px;
}

.mui-modal .message
{
    -fx-font-family: "Raleway Regular", sans-serif;
    -fx-font-size: 16px;
}

.mui-modal .primary,
.mui-modal .secondary,
.mui-modal .destructive
{
    -fx-font-family: "Raleway Black", sans-serif;
    -fx-text-fill: rgba(0, 0, 0, 0.87);
    -fx-padding: 9px 11px;
}
.mui-modal .primary:hover,
.mui-modal .secondary:hover
{
    -fx-background-color: hover-color;
}

.mui-modal .destructive
{
    -fx-text-fill: #d2d2d2;
    -fx-background-color: rgb(215, 76, 50);
}
.mui-modal .destructive:hover
{
    -fx-background-color: rgb(215, 87, 63);
}

.mui-modal .destructive .ikonli-font-icon
{
    -fx-icon-color: #d2d2d2;
}

.mui-modal .ikonli-font-icon.error-icon
{
    -fx-icon-color: rgb(215, 87, 63);
}
.mui-modal .ikonli-font-icon.warning-icon
{
    -fx-icon-color: rgb(135, 255, 126);
}