


public func doSomething()
{
    if (1 == 2)
    {
        let myName = "Tyler";

    }

}

public func another()
{
    if (1 == 2)
    {
        let myName = "Tyler";
        var me = 23;
        if (1 != 12)
        {
            let yourname = "Joe";

        }


    }


}

