.jfx-tab-pane .headers-region
{
    /* Background of tab bar */
    /*-fx-background-color: red;*/
    -fx-background-color: rgba(235, 235, 235, 1.0);
}
.jfx-tab-pane .tab-header-background
{
    /* Background of the tabs */
    /*-fx-background-color: red;*/
    -fx-background-color: rgba(235, 235, 235, 1.0);
}
.jfx-tab-pane .tab-selected-line
{   /* Color of line under selected tab */
    /* -fx-background-color: rgb(13, 128, 255);*/
    -fx-background-color: rgb(13, 128, 255);
}

.jfx-tab-pane .tab-header-area .jfx-rippler
{
    /* Color of ripple */
    /*-jfx-rippler-fill: black;*/
    -jfx-rippler-fill: rgba(100, 100, 100, 0.4);
}
.jfx-tab-pane .tab .tab-label
{
    -fx-font-weight: normal;
    -fx-text-fill: rgba(26, 103, 255, 0.5);
    -fx-font-size: 16;
}

.jfx-tab-pane .tab:selected .tab-label
{
    -fx-font-weight: normal;
    -fx-text-fill: rgba(26, 103, 255, 1.0);
}
