
* {
    -accent-blue: #42B8D4;
    -accent-strong-blue: #bd10e0;
    -accent-yellow: #F9FA97;
    -app-background: rgb(255, 255, 255);
    -button-hover: rgba(0, 0, 0, 0.1);
    -button-ripple: rgba(0, 0, 0, 0.5);
    -white-button-ripple: rgba(255, 255, 255, 0.6);
    -icon-fill: rgb(100, 100, 100);
    -text-color: #323232;
    -light-text-color: #646464;

}


.accent-background.anchor-pane,
.accent-background.split-pane
{
    -fx-background-color: white, -fx-control-inner-background;
}
.accent-background
{
    -fx-background-color: white;
}

.jfx-button
{
    -fx-background-color: transparent;
}

.jfx-button .jfx-rippler
{
    -jfx-rippler-fill: -button-ripple;
}


.split-pane .split-pane-divider
{
    -fx-background-color: -accent-blue;
    -fx-border-color: -accent-blue;
}

.mui-gutter-button
{
    -fx-background-color: -accent-blue;
    -fx-text-fill: white;
    -fx-font-family: "Roboto Bold";
    -fx-font-size: 14px;
}

/*******************************************************************************
 *                                                                             *
 *                                 Terminal                                    *
 *                                                                             *
 ******************************************************************************/

.mui-terminal
{
    -fx-background-color: white;
    -fx-text-fill: #212121;
}

/*******************************************************************************
 *                                                                             *
 *                         Menu Bar/Menu Bar Buttons                           *
 *                                                                             *
 ******************************************************************************/

.mui-menu-bar
{
    -fx-background-color: -accent-blue;
}

.mui-menu-bar .mui-context-item
{
    -fx-text-fill: white;
}

.mui-menu-bar .right .mui-context-item .jfx-rippler
{
    -jfx-rippler-fill: -white-button-ripple;
}
.mui-menu-bar .right .mui-context-item .ikonli-font-icon
{
    -fx-icon-color: white;
}

.mui-menu-bar .mui-menu-item .jfx-rippler
{
    -jfx-rippler-fill: -white-button-ripple;
}

/*******************************************************************************
 *                                                                             *
 *                                 MUITabPane                                  *
 *                                                                             *
 ******************************************************************************/

/*.mui-tab-pane .mui-tab-bar*/
/*{*/
/*-fx-effect: dropshadow(three-pass-box, grey, 10, 0, 0, 2);*/
/*}*/
.mui-tab-pane .mui-tab-bar .mui-tab
{
    /*-fx-text-fill: white;*/
}
.mui-tab-pane .mui-tab-bar .mui-tab .jfx-rippler
{
    -jfx-rippler-fill: -white-button-ripple;
}
.mui-tab-bar .indicator
{
    -fx-background-color: -accent-yellow;
}
.mui-tab-pane .mui-tab-bar
{
    -fx-background-color: -accent-blue;
}
.mui-tab-bar .left,
.mui-tab-bar .right
{
    -fx-background-color: transparent;
}

.mui-tab-bar .left .mui-icon-button .ikonli-font-icon,
.mui-tab-bar .right .mui-icon-button .ikonli-font-icon,
.navigator-tab-pane .mui-tab .ikonli-font-icon
{
    -fx-icon-color: white;
}
.mui-tab-pane .mui-tab-bar .mui-tab
{
    -fx-text-fill: rgba(255, 255, 255, 0.7);
}

.mui-tab-pane .mui-tab-bar .mui-tab:selected
{
    -fx-text-fill: white;
}


/*******************************************************************************
 *                                                                             *
 *                                 Settings                                    *
 *                                                                             *
 ******************************************************************************/
.settings-page,
.settings-page .anchor-pane,
.settings-page .scroll-pane
{
    -fx-background-color: white;
    -fx-background: white;
}
.settings-section-label
{
    -fx-text-fill: -text-color;
    -fx-font-family: "Roboto Bold";
    -fx-font-size: 24px;
}
.settings-subsection-label
{
    -fx-text-fill: -light-text-color;
    -fx-font-family: "Roboto Medium";
    -fx-font-size: 20px;
}

.settings-item
{
    -fx-border-width: 0px 0px 1px 0px;
    -fx-border-color: #e5e5e5;
}

.setting-name-label
{
    -fx-font-family: "Roboto";
}

.mui-light-button
{
    -fx-pref-height: 25px;
    -fx-font-family: "Roboto Bold";
    -fx-padding: 5px;
    -fx-font-size: 12px;
    -fx-text-fill: -accent-strong-blue;
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
    -fx-border-width: 1px;
    -fx-border-color: #e5e5e5;
    -fx-cursor: hand;
}

.settings-header-pane
{
    -fx-background-color: -accent-blue;
}

.settings-header
{
    -fx-font-family: "Roboto";
    -fx-font-size: 20px;
    -fx-text-fill: white;
}

.settings-page .ikonli-font-icon
{
    -fx-icon-size: 20px;
    -fx-icon-color: white;
}

.settings-page .mui-tab-bar .mui-tab
{
    -fx-background-color: transparent;
    -fx-font-family: "Roboto Bold";
    -fx-font-size: 14px;
    -fx-text-fill: white;
    -fx-pref-width: 110px;
}

.settings-page .mui-tab-bar .indicator
{
    -fx-background-color: -accent-yellow;
}


/*******************************************************************************
 *                                                                             *
 *                               Context Menus                                 *
 *                                                                             *
 ******************************************************************************/

.navigator-context-menu.mui-context-menu
{
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.6), 15.0, 0.0, 1.5, 2.0);
    -fx-background-color: white;
    -fx-background-radius: 3px;
}


.navigator-context-menu.mui-context-menu .mui-context-item
{
    -fx-text-fill: -text-color;
    -fx-alignment: center-left;
    -fx-font-size: 14px;
    -fx-font-family: "Roboto Medium";
    -fx-padding: 0 15px;
    -fx-pref-height: 35px;
}
.navigator-context-menu.mui-context-menu .mui-context-item .ikonli-font-icon
{
    -fx-icon-size: 12px;
    -fx-text-alignment: left;
    -fx-alignment: center-left;
    -fx-icon-color: -icon-fill;
    -fx-translate-x: 0px;
}
.navigator-context-menu.mui-context-menu .mui-context-item:hover
{
    -fx-background-color: -button-hover;
}
.navigator-context-menu.mui-context-menu .mui-context-item.mui-menu .ikonli-font-icon
{
    -fx-translate-x: 100px;
}

.editor-context-menu.mui-context-menu
{
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.8), 15.0, 0.0, 1.5, 2.0);
    -fx-background-color: white;
    -fx-background-radius: 3px;
}


.editor-context-menu.mui-context-menu .mui-context-item
{
    -fx-text-fill: -text-color;
    -fx-alignment: center-left;
    -fx-font-size: 14px;
    -fx-font-family: "Roboto Medium";
    -fx-padding: 0 15px;
    -fx-pref-height: 35px;
}
.editor-context-menu.mui-context-menu .mui-context-item .ikonli-font-icon
{
    -fx-icon-size: 12px;
    -fx-text-alignment: left;
    -fx-alignment: center-left;
    -fx-icon-color: -icon-fill;
}
.editor-context-menu.mui-context-menu .mui-context-item:hover
{
    -fx-background-color: -button-hover;
}
.editor-context-menu.mui-context-menu .mui-context-item.mui-menu .ikonli-font-icon
{
    -fx-translate-x: 90px;
}

.application-context-menu
{
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.8), 15.0, 0.0, 1.5, 2.0);
    -fx-background-color: white;
    -fx-background-radius: 3px;
}

.application-context-menu .mui-context-item
{
    -fx-text-fill: -text-color;
    -fx-alignment: center-left;
    -fx-font-size: 14px;
    -fx-font-family: "Roboto Medium";
    -fx-border-radius: null;
    -fx-background-radius: null;
    -fx-padding: 0 15px;
    -fx-pref-height: 35px;
}

.application-context-menu .mui-context-item:hover
{
    -fx-background-color: -button-hover;
}

.application-context-menu .mui-context-item .ikonli-font-icon
{
    -fx-icon-size: 12px;
    -fx-text-alignment: left;
    -fx-alignment: center-left;
    -fx-icon-color: -icon-fill;
}

.application-context-menu .mui-context-item.mui-menu .ikonli-font-icon
{
    -fx-translate-x: 50px;
}

.editor-tab-menu
{
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.6), 15.0, 0.0, 1.5, 2.0);
    -fx-background-color: white;
    -fx-background-radius: 3px;
    -fx-pref-width: 130.0;
}

.editor-tab-menu .mui-context-item:hover
{
    -fx-background-color: -button-hover;
}

.editor-tab-menu .mui-context-item
{
    -fx-text-fill: -text-color;
    -fx-alignment: center-left;
    -fx-pref-height: 35px;
    -fx-font-size: 14px;
    -fx-font-family: "Roboto Medium";
    -fx-border-radius: null;
    -fx-background-radius: null;
    -fx-padding: 10px 15px;
}

.editor-tab-menu  .mui-context-item .ikonli-font-icon
{
    -fx-icon-size: 12px;
    -fx-text-alignment: left;
    -fx-alignment: center-left;
    -fx-icon-color: -icon-fill;
}

.auto-completion-dialog
{
    -fx-background: white;
    -fx-background-color: white;
    -fx-background-radius: 5px;
    /*-fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.5), 10.0, 0.0, 1.5, 2.5);*/
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.8), 10.0, 0.0, 2.0, 3.0);
}
.auto-completion-dialog .label
{
    -fx-text-fill: -light-text-color;
    -fx-font-family: "Roboto Medium";
    -fx-font-size: 16px;
}
.auto-completion-dialog .list-cell
{
    -fx-background-color: white;
    -fx-background-radius: 5px;
}
.auto-completion-dialog .list-cell:selected:focused
{
    -fx-background-color: #bbdefb;
    -fx-background: #bbdefb;
}

.auto-completion-dialog .list-cell:selected:focused .label
{
    -fx-text-fill: #2962ff;
}

/*******************************************************************************
 *                                                                             *
 *                                  TreeViews                                  *
 *                                                                             *
 ******************************************************************************/
/*top right bottom left*/

.mui-tree-item .mui-tree-header .label
{
    -fx-text-fill: #797979;
}

.mui-tree-item:selected .mui-tree-header .label
{
    -fx-text-fill: #2962ff;
}
.mui-tree-item:selected .mui-tree-header .svg-icon
{
    -fx-icon-color: #2962ff;
}
.mui-tree-item:selected .mui-tree-header
{
    -fx-background-color: #bbdefb;
}

.mui-tree-item .mui-tree-header .mui-icon-button.expanded
{
    -fx-rotate: 90;
}

.mui-tree-item .mui-tree-header .mui-icon-button .ikonli-font-icon
{
    -fx-icon-size: 15px;
    -fx-icon-color: -icon-fill;
    -fx-padding: 0px;
}

.mui-tree-item .mui-tree-header .svg-icon
{
    -fx-icon-color: -icon-fill;
    -fx-icon-size: 15px;
}

.mui-tree-item .mui-tree-header .mui-icon-button
{
    -fx-pref-width: 25px;
    -fx-pref-height: 25px;
}

.mui-tree-item .mui-tree-header .mui-icon-button:hover
{
    -fx-background-color: rgba(0, 0, 0, 0.1);
}