


.context-menu, .menu-item
{
    -fx-padding: 0.1;
}
.menu-item:hover
{
    -fx-background-color: rgba(240, 240, 240, 1.0);
}
.menu-item:focused
{
    -fx-background-color: rgba(240, 240, 240, 1.0);
}
.context-menu:focused
{
    -fx-background-color: rgba(255, 255, 255, 1.0);
}




